<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Eukanuba Top Condition</title>
</head>
<body class="container mt-5">
    <div class="alert alert-info display-1 text-center">
        <img src="{%static "img/cat.png" %}" width="200px" alt="">Dexter Market
    </div>
    <div class="alert alert-info display-3">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="{%static "img/alimento2.jpg" %}" width="600px" alt="">
            </div>
            <div class="col-md-6 mt-3">
                <span style="font-size: 20px;">
                    Este es un alimento seco para gatos que ofrece una dieta equilibrada y 100% completa para mantener una buena salud de la mascota. 
                    Cuenta con un 90% de proteína animal del total de proteínas en el alimento, lo que permite ayudar a desarrollar y mantener la musculatura compacta. 
                    Cuenta con antioxidantes que permiten reforzar las defensas naturales y estimular la vitalidad de la mascota.
                    Cuenta con prebióticos y fibra para favorecer la salud intestinal y la digestión de forma que tu mascota esté siempre saludable. 
                    Está especialmente formulado para conservar un tracto urinario saludable, y es rico en ácidos grasos omega 6 y 3 para favorecer la piel sana y el pelo brillante. 
                    Es fácil de digerir gracias a que es rico en arroz, y no tiene colorantes artificiales ni OGM. Está disponible para gatos adultos, senior o para gatitos.
                </span>
            </div>
        </div>
    </div>

    <br>
    <a href="/" class="btn btn-info mt-5"><i class="bi bi-rewind"></i> Volver</a>
</body>
</html>
