<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Cama Tipo Saco de Dormir</title>
</head>
<body class="container mt-5">
    <div class="alert alert-info display-1 text-center">
        <img src="{%static "img/cat.png" %}" width="200px" alt="">Dexter Market
    </div>
    <div class="alert alert-info display-3">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="{%static "img/cama3.jpg" %}" width="600px" alt="">
            </div>
            <div class="col-md-6 mt-3">
                <span style="font-size: 20px;">
                    Esta cama es semicubierta, mantiene la temperatura y es cómoda en el caso de salir de viaje con nuestro gato. 
                    Además, este tipo de cama da la posibilidad al gato de dormir encima cuando hace calor, y meterse dentro para abrigarse cuando hace frío.
                    Diseñada con un tejido suave y aislante, esta cama imita la sensación de dormir en un saco de dormir, brindando una experiencia acogedora y segura. 
                    Su diseño portátil la convierte en la opción perfecta para los gatos que disfrutan de cambiar de lugar de siesta. 
                    Ya sea en el rincón de la sala de estar, en una silla o en la cama, tu gato podrá llevar su cama consigo a donde quiera que vaya. 
                    Dale a tu gato la comodidad y seguridad que se merece con la Cama Tipo Saco de Dormir para Gatos, donde podrá acurrucarse y disfrutar de dulces sueños en cualquier rincón de tu hogar.
                </span>
            </div>
        </div>
    </div>
    <br>
    <a href="/" class="btn btn-info mt-5"><i class="bi bi-rewind"></i> Volver</a>
</body>
</html>