<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>PARA ENTRENAR LA MOVILIDAD: TÚNEL CON FORMA DE "Y" PARA GATOS</title>
</head>
<body class="container mt-5">
    <div class="alert alert-info display-1 text-center">
        <img src="{%static "img/cat.png" %}" width="200px" alt="">Dexter Market
    </div>
    <div class="alert alert-info display-3">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="{%static "img/juguete2.jpg" %}" width="600px" alt="">
            </div>
            <div class="col-md-6 mt-3">
                <span style="font-size: 20px;">
                    Este túnel le dará a tu gatito la oportunidad de satisfacer su instinto explorador, al mismo tiempo que le proporciona un espacio seguro y protegido para hacerlo. Tiene cuatro entradas y salidas, y está fabricado en poliéster, por lo que hace ruido cuando caminan dentro de él para estimular el juego.
Cuando no lo están utilizando se puede plegar para que ocupe muy poco espacio y guardarlo en cualquier parte. Aunque no se puede lavar en la lavadora, es de fácil limpieza.
                </span>
            </div>
        </div>
    </div>
    <br>
    <a href="/" class="btn btn-info mt-5"><i class="bi bi-rewind"></i> Volver</a>
</body>
</html>
